@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  width: 100%;
  height: 145px;
  background-image: url('/navbgimg.svg');
  background-size: cover;
  background-position: center;
}

.background-image-catalog {
  width: 100%;
  height: 105px;
  background-image: url('/navbgimg.svg');
  background-size: cover;
  background-position: center;
}

.backgroun-li {
  background-image: url('/navbgimg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-img {
  background-image: url('/footbg.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

.custom-clip {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.background-img-aboutus {
  background-image: url('https://ht-med.uz/_next/image?url=%2Fcard_logo%2FenLang.png&w=1920&q=75');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 220px;
}

.my-container{
  width: 1200px;
  margin: 0 auto;
}